.video-link {
  color: #007bff;
  text-decoration: none;
}
.video-link:hover {
  text-decoration: underline;
}
.modal-content {
  text-align: center;
}
.modal-title {
  width: 100%;
  text-align: center;
}
.problem {
  font-size: 10px;
}
.auth-modal-input {
  border: none;
  border-bottom: 2px solid #ccc; /* borde gris abajo por defecto */
  border-radius: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  outline: none;
}

.auth-modal-input:hover,
.auth-modal-input:focus {
  border-bottom-color: #f0320a; /* naranja en hover y focus */
  box-shadow: none;
}
.modal-content {
  border-radius: 15px !important; /* o el valor que prefieras */
}
