.footer-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12vh;
  background-color: #212121;
  color: #ffffffde;
  position: static;
  bottom: 0;
  width: 100vw;
  padding: 2rem 0;
  margin-top: 2rem;
  z-index: 100;
}

#data-fiscal {
  width: 73px;
  height: 100px;
}
#great-place-to-work {
  width: 59px;
  height: 101px;
}
#btn-ayuda {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  color: #f0320a;
  display: inline-flex;
  font-family: Montserrat;
  gap: 6px;
  padding: 8px 16px;
  text-align: center;
}
#btn-arrepentimiento {
  display: inline-flex;
  align-items: center;
  font-family: Montserrat;
  gap: 6px;
  padding: 8px 16px;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: transparent;
  color: #fff;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
}
#btn-arrepentimiento:hover {
  background-color: #fff;
  border-color: #fff;
  color: #f0320a;
}

.footer-container__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 3vh;
}

#btn-terminos {
  text-decoration: underline;
}
#btn-terminos:hover {
  background-color: transparent;
}
.flex-redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-redes button {
  background: none;
}
.icon-redes {
  font-size: 24px;
  color: #fff;
  transition: color 0.3s ease;
}

.flex-redes button {
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
.flex-redes button:hover {
  background: #fff;
  color: #f0320a;
  .icon-redes {
    color: #f0320a;
  }
}
