body {
  margin: 0;
}

header {
  display: flex;
  background-color: #212121;
  width: 100vw;
  position: sticky;
  top: 0;
  left: 0;
  gap: 4vh;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.logo {
  height: 5em;
  will-change: filter;
  transition: filter 300ms;
}

input {
  border-radius: 3px;
  border: 0px solid #fff;
  background-color: transparent;
  color: #fff;
}

input:focus {
  border: 0px;
  outline: 0px;
  color: #fff;
}

button {
  background: none;
  border: 0px;
  padding: 0.5em;
  margin: 0px 5px;
}

button:hover {
  background-color: #4b4b4d;
  border-radius: 3px;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 8px 16px;
  transition: border-color 0.1s ease;
}

.searchBar:focus-within {
  border-color: #f0320a;
}

#searchInput {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  background: transparent;
}

.searchIcon {
  font-size: 24px;
  cursor: pointer;
}
