* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

.containerMain {
    display: grid;
    grid-template-rows: 200px 200px 80vh;
    grid-template-columns: 1fr 3fr;
    gap: 10vw;
    width: 40vw;
    margin: 0px 25vw;
}

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.containerDestacados {
    width: auto;
    text-align: start;
    padding: 0 15vw;
}



