.bordeImg {
  border-radius: 8%;
  padding: 35px;
}

.carousel-indicators .active {
  background-color: orange;
}

.iconos {
  width: 40px;
  height: 40px;
  color: orangered;
}

.btncolor{
  background-color: orangered;
}

.w-40{
  width: 40%;
}

.w-60{
  width: 60%;
}

.cardDestacado:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

.armatupc{
  background-image: url("https://topesdegama.com/app/uploads-topesdegama.com/2022/09/graficas-portada.jpg");
  background-size: cover;
  background-position: center;
}